.banner {
    width: 100% !important;
    height: 10em !important;
    object-fit: cover !important;
    object-position: 0% 45% !important;
    filter: blur(2px) !important;
  }

  .text-danger{
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }

  .nav-link{
    color: rgb(172, 10, 94) !important;  
  }

  .active{
    font-weight: bold !important;
  }

  .nav-link:hover{
    color: rgb(198, 115, 159) !important;
    background-color: white;
    border-radius: 10px;
  }

  tr.no-bottom-border td {
    border-bottom: none !important;
  }

  table {
    table-layout: fixed !important;
}

.card img{
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
}

.nav-item{
  font-size: 1.05em !important;
}

.main-content {
  min-height: 76vh; /* Al menos la altura de la ventana */
}