.banner {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
    object-position: 0% 45% !important;
    filter: blur(2px) !important;
  }

  .text-danger{
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }

  .nav-link{
    color: rgb(172, 10, 94) !important;  
  }

  .active{
    background-color: white !important;
  }

  .nav-link:hover{
    color: rgb(198, 115, 159) !important;
  }
  .mb-3 input{
    width: 100% !important;
  }

  .override{
    margin: 0 auto !important;
  }
  
  .erase-margin{
    margin-bottom: 0 !important;
  }

  tr.no-bottom-border td {
    border-bottom: none !important;
  }

  .erase-padding{
    padding: 0 !important;
  }

  table {
    table-layout: fixed !important;
}